|---
|layout: default
|title: Documentation
|---
<br>
include _bootstrap-mixins.jade
.container
    .row
        block nav
            +Nav(false)

        .col-md-9
            block content
                +Content('primary', false)

p.text-muted(style="text-align: center;")
    | Generated on #{date().format('DD MMM YYYY')}
script(src="//code.jquery.com/jquery-1.10.1.min.js")
script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
script(src="js/status.js")
|<script type="text/javascript">
|  Status.check();
|</script>
script
    :coffee
        # Show a warning when viewed as a local file, which will break the
        # links above that start with `//`.
        if location.protocol is 'file:'
            document.getElementById('localFile').style.display = 'block';
block scripts
    script
        :coffee
            $('table').addClass 'table'