{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
<div class="index-block">
    <img src="{{ SITEURL }}/theme/images/minecraft-home.png" />
    <h2>Minecraft</h2>
    <hr />
    <p>BukGet's API is designed to aide system administrators
        and developers of the popular game Minecraft.
    </p>
</div>
<div class="index-block">
    <img src="{{ SITEURL }}/theme/images/python-home.png" />
    <h2>Python</h2>
    <hr />
    <p>The API is written entirely in Python, a fast &amp;
        flexible language with a lot of capability.
        Furthermore, all of the code that is used to
        run BukGet is open source (just click the code
        link to goto our github page)!
    </p>
</div>
<div class="index-block">
    <img src="{{ SITEURL }}/theme/images/bukkit-home.png" />
    <h2>Bukkit</h2>
    <hr />
    <p>While the API is designed to interact with multiple
        plugin datastores, our primary use is as an
        interactive API into BukkitDev, the plugin repository
        for the Bukkit Minecraft server.
    </p>
</div>
<div id="hometotals" ></div>
<div id="homestats"></div>
<div id="news">
    <h2>Recent Updates</h2><hr />
    <script language="JavaScript" src="http://itde.vccs.edu/rss2js/feed2js.php?src=http%3A%2F%2Fchigeek.com%2Ffeeds%2FBukGet.rss.xml&chan=n&num=5&desc=0&date=y&targ=n" type="text/javascript">
    </script>
    <noscript>
    <a href="http://itde.vccs.edu/rss2js/feed2js.php?src=http%3A%2F%2Fchigeek.com%2Ffeeds%2FBukGet.rss.xml&chan=n&num=5&desc=0&date=y&targ=n&html=y">View RSS feed</a>
    </noscript>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        pvtotals();
        top10plugs();
    });
</script>
{% endblock content %}
