    <footer>
      <div class="footer-inner">
        <div class="left">
          <a href="/" class="logo">
            <span class="icon-bucket"></span>
            <h1>bukget</h1>
          </a>
        </div>

        <div class="right">
          <a href="https://github.com/Bukget/api/issues">
            <span class="icon-traffic-cone"> Issue Tracker</span>
          </a>
          <a href="https://github.com/BukGet">
            <span class="icon-github"> Github</span>
          </a>
        </div>
        <div class="clear"></div>
      </div>
    </footer>
  </body>
</html>