<div class="header-inner">
  <nav>
    <a href="/website" class="logo">
      <span class="entypo-bucket"></span> 
      <h1 class="text">buk<strong>get</strong></h1>
    </a>
    
    <div class="links">
      <a href="/website/documentation">Documentation</a>
      <a href="/website/news">News</a>
      <a href="/website/status"><span class="radial pending"></span> Status</a>
      <a href="/website/help">Help</a>
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=LM2UUUHWC54TA" class="donate">Donate <3</a>
    </div>
  </nav>
</div>