<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>{{ site.name }} - {{ site.title }}</title>
    <meta name="keywords" content="plugin,manager,package,server,minecraft,bukkit,documentation,api,entrepreneurs,host">

    <meta content="{{ site.name }}" property="og:title">
    <meta content="{{ site.name }}" property="og:site_name">
    <meta content="website" property="og:type">
    <meta content="http://bukget.org" property="og:url">
    <meta content="Manage plugins with ease for minecraft servers running on bukkit." property="og:description">

    <meta name="twitter:site" value="@stevemcgrath">
    <meta name="twitter:card" value="summary">
    <meta name="twitter:url" value="http://bukget.org">
    <meta name="twitter:title" value="{{ site.name }}">
    <meta name="twitter:description" value="Manage plugins with ease for minecraft servers running on bukkit.">

    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
  </head>
  <body>
    <header>
      <div class="header-inner">
        <nav>
          <a href="index.html" class="logo">
            <span class="entypo-bucket"></span> 
            <h1 class="text">buk<strong>get</strong></h1>
          </a>
          
          <div class="links">
            <a href="">Documentation</a>
            <a href="">News</a>
            <a href="status.html"><span class="radial pending"></span> Status</a>
            <a href="">Help</a>
            <a href="" class="donate">Donate <3</a>
          </div>
        </nav>
      </div>
    </header>
  </body>

  {{ content }}
</html>